@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;

  @apply flex flex-col items-center;
  @apply bg-stone-100 text-gray-600;
}

input {
  @apply my-1 p-4 border outline-none border-gray-300;
}

#root {
  height: 100%;

  @apply w-full max-w-screen-lg;
}
